:root
{
  --jetBlack:#050500;
  --ebony:#333C40;
  --Gray:#566160;
  --pewter:#A8B4B0;
  --unit:3em;
}
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: large;
}

body
{
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--Gray);
}

body::after
{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dicvjx88i/image/upload/v1762100114/pic3_aq5vkb.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.toggle-switch
{
  cursor: pointer;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: var(--unit);
  height: var(--unit);
  background-color: var(--ebony);
  color: var(--pewter);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: 0 0 0.2rem var(--pewter);
  z-index: 10;
}

/*instagram-button styles*/
.instagram-button
{
  cursor: pointer;  
  position: fixed;
  top: calc(var(--unit) + 1rem);
  right: 0.5rem;
  width: var(--unit);
  height: var(--unit);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: var(--ebony);
  box-shadow: 0 0 0.2rem var(--pewter);
  z-index: 10;
  
}
.instagram-button a
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--pewter);
}







.accordeon
{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--unit);
  height: 100%;
  background-color: var(--ebony);
 cursor: pointer; transition: 0.3s ease-in-out;
  overflow: hidden;
  z-index: 10;
  
}

.accordeon.active
{
  width: 30%;
}
.accordeon-header{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  
}
.accordeon-header a
{
  text-decoration: none;
  color: var(--pewter);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: 0.3s ease-in-out;
  
}
.accordeon-header:hover
{
  background-color: rgba(0,0,0, 0.1);
}

.accordeon-header a> .icon
{
  min-width: var(--unit);
  height: var(--unit);
  line-height: var(--unit);
  text-align: center;
  color: var(--pewter);
  
}

.accordeon-header  span.icon
{
  display: block;
  min-width: var(--unit);
  height: var(--unit);
  line-height: var(--unit);
  text-align: center;
  color: var(--pewter);
  
}
.accordeon-header .title
{
  display: block;
  height: var(--unit);
  line-height: var(--unit);
  text-align: start;
  color: var(--pewter);
}

.accordeon-body
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordeon-body.active
{
  max-height: 100dvh;
  
}

.accordeon-body-content a
{
  display: flex;
  align-items: center;
text-decoration: none;
color: var(--pewter);
outline: 0.01rem solid var(--ebony);
outline-offset: -0.02rem;
opacity: 0.8  ;
background-color: var(--Gray);
transition: 0.3s ease-in-out;
}

.accordeon-body-content a:hover
{
  background-color: rgba(0,0,0,0.9);
}



.gallery-container {
    margin-left: 4em;
    padding: 2em;
    transition: 0.3s ease-in-out;
}

.accordeon.active ~ .gallery-container {
    margin-left: 15em;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    border: 1px solid var(--ebony);
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*Booking form styles*/
.booking-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  height: 80%;
  margin: 1em auto;
  padding: 0.5em;
  background-color: var(--ebony);
  border: 1px solid var(--jetBlack);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form-container label {
  display: block;
  margin-bottom: 0.1em;
  color: var(--pewter);
}

.booking-form-container input,
.booking-form-container textarea {
  width: 100%;
  padding: 0.3em;
  margin-bottom: 0.5em;
  border: 1px solid var(--jetBlack);
  border-radius: 5px;
  background-color: var(--Gray);
  color: var(--pewter);
}

.booking-form-container input:focus,
.booking-form-container textarea:focus {
  outline: none;
  border-color: var(--pewter);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.booking-form-container button[type="submit"] {
  background-color: var(--jetBlack);
  color: var(--pewter);
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.booking-form-container button[type="submit"]:hover {
  background-color: var(--Gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/*Artist info styles*/
.artist-info
{
    gap: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 3em;
    width: calc(100% - 6em);
    height: 90%;
    
    

}

.artist-portrait
{
width: 20em;
height: 25em;
background-image: url('/images/artist_portrait.webp');
background-size: cover;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
border-radius: 0.5em;
border: 0.1rem solid var(--clr1);


}
.book-btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    background-color: var(--jetBlack);
    color: var(--pewter);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.book-btn:hover {
    background-color: var(--ebony);
}

.artist-name
{
    font-size: 2em;
    font-weight: bold;
    color: var(--jetBlack);
    background-color: var(--clr2);
    display: flex;
    align-items: center;
    
}

.artist-name a
{
  display: flex;
  align-items: center;
  height: 100%;
  align-items: center;
  
  padding: 0.5rem;
}

.artist-genres
{
  font-size: 1em;
    font-weight: bold;
    color: var(--jetBlack);
    background-color: var(--Gray);
    display: flex;
    align-items:center ;
    
}


/*General Info styles*/
.general-info-container
{
 position: absolute;
 top:95%;
 left: calc(var(--unit));
 padding: 0.5rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;  
align-items: center;
color: var(--ebony);
background-color: var(--pewter);
max-width: calc(100% - 5em);
border-radius: 0.5rem;

}

.general-info-text-box
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-direction: column;
  border-bottom: 0.1rem solid rgba(0,0,0, 0.5);
}

.general-info-heading,
.aftercare-container-heading
{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--jetBlack);
}

.general-info-text-box
{
display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.general-info-text ul
{
  display: flex;
  flex-direction: column;
  grid-area: 0.2rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5rem;
  list-style: square;
}





/*Media queries*/

@media (max-width: 700px) {
    .accordeon
    { 
left:-3em
    }

    .accordeon.active
    {
        left: 0;
    }

    /*we need to shift the artist-info up*/
    .artist-info
    {
top: 0;
    }

    .accordeon.active
    {
        width: 50%;
    }

     .booking-form-container {
    max-width: 80%;
    padding: 1em;
    margin: 2em auto;
  }

  .booking-form-container input,
  .booking-form-container textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .booking-form-container .book-btn {
    width: 100%;
    padding: 1em;
  }

  .aftercare-page-heading
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 80%;
    font-size: small;
    
  }
  }

.accordeon-item .accordeon-header span.title {
  
  font-weight: bold;
}

.aftercare-container
{
  position: absolute;
  top: 0;
  left: var(--unit);
background-color: var(--pewter);
display: flex;
flex-direction: column;
padding: 0.5rem;


}

.aftercare-page-heading
{
  
  font-size: 2rem;
  font-weight: 600;
}


.aftercare-container-text-box
{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-direction: column;
  border-bottom: 0.1rem solid rgba(0,0,0, 0.5);
}

.aftercare-container-text ul
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  gap: 0.3rem;
  padding: 0.6rem;
}

.aftercare-container-text ul li
{
  list-style:square;
}



